* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --background: #0E1218;
   --background-card: #000000;
   --text: #F1F1F1;
   --img-profile: #8257e5;
   --buttons: #FFF;
   --border-button: #1A1A1A;
}

body { 
   /* display: grid;
   place-content: center;
   height: 100vh; */

   font-family: 'Prompt', sans-serif;
   background-color: var(--background);
   color: var(--text);
}

main {
   /* display: grid;
   place-content: center;

   width: 100vw;
   height: 100vh;
   */

   display: flex;
   height: 100vh;
   max-width: 57.5rem;
   margin: 0 auto;
   padding: 0 2rem;
}

.rounded {
   border-radius: 36px;
}

.container {
   flex: 1 1;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 3rem;
   gap: 3rem;

   margin-left: 6.5rem;

   align-content: center;
   justify-items: flex-end;
}


.share {
   margin-bottom: 0.75rem;
   text-align: center;
}

.card-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.card {
   display: flex;
   align-items: center;
   justify-content: center;

   /* width: 28rem;
   height: 43rem; */

   width: 24.375rem;
   height: 39rem;
   padding: 1.5rem 1rem;
   background-color: var(--background-card);

   transition: background 0.1s;
}

.content {
   display: grid;
   place-content: space-between start;
   
   width: 100%;
   height: 100%;
   background-color: var(--background);

   padding: 2rem 0 1.5rem;
}

.card-header {
   display: flex;
   height: 3.5rem;

   align-items: center;
   margin-left: 1.75rem;
}

.card-header .logo {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 3.5rem;
   height: 3.5rem;

   border-radius: 50%;
   background-color: var(--background-card);
   border: 1px solid var(--text);
}

.card-header p {
   margin-left: 1.25rem;
   font-size: 1.375rem;
}

.card-main {
   position: relative;
   margin: auto 0;

   overflow: hidden;
}

.image-profile {
   width: calc(100% - 1rem);
   border-radius: 50%;

   padding: 0.625rem;
   margin-bottom: 2.5rem;

   background-color: var(--img-profile);
   transform: translateX(4rem);
}

.image-profile img {
   display: flex;
   align-items: center;
   width: 100%;

   border-radius: 50%;
   object-fit: cover;
}

.info-container {
   display: flex;
   align-items: center;

   width: 48%;
   height: calc(48% - 0.75rem);

   position: absolute;
   bottom: 0;
   left: 1.25rem;

   background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(70,69,69,0.72) 50%, rgba(62,56,56,0.42) 100%);
}

.info-container ul {
   margin-left: 1.25rem;
}

.info-container li {
   display: flex;
   list-style: none;
}

.info-container li+li {
   margin-top: 0.25rem;
}

.info-container li p {
   font-size: 0.9375rem;
   margin-left: 0.5rem;
}

.card-footer {
   display: flex;
   justify-content: end;

   margin: 0 1.25rem;
}

.card-footer p {
   margin-left: 1rem;
   font-size: 1.125rem;
}


.custom-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}

.custom {
   display: grid;
   gap: 2rem;

   text-align: center;
}

.custom button {
   width: 14.75rem;
   height: 3.75rem;

   background-color: var(--background-card);
   color: var(--buttons);

   border: 1px solid var(--border-button);
   border-radius: 15px;

   transition: 0.2s;
}

.custom button:hover {
   cursor: pointer;
   opacity: 0.7;
}


@media (max-width: 1200px) {
   html {
      font-size: 93.75%;
   }
}

@media (max-width: 992px) {
   .container {
      margin-left: 5rem;
   }
}

@media (max-width: 768px) {

   html {
      font-size: 87.5%;
   }

   main {
      height: 100%;
      padding: 1rem;
   }

   .container {
      display: flex;
      flex-direction: column;
      
      margin: 0; 
   }
}